	.app-content .side-app {
      padding: 42px 0px 0 0px;
    }
    .ap-social-icon {
        min-width: 10px;
        max-width: 10px;
        min-height: 10px;
        max-height: 10px;
        position:relative;
        top:19px;
        left:-10px;
        background-size: 100%;
        background-repeat: no-repeat;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-font-smoothing: antialiased;    
    }
    .ap-social-icon.facebook {
        background-image: url(https://ssgenius.com/app/assets/images/facebook-icon.png);
    }
    
 /*    .card .card-header .card-title {
    margin-top: 0;
    margin-bottom: 0px;
    } */
    
/*     .form-group, .input-group {
    margin-bottom: 0px;
    
    } */
    
/*     .card .card-body {
    padding: 0 0px 5px 15px;
} */


.caret {
   
    border-top: 0;
}
.caret2 {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 0;
    font-size: 12px;
    color: #000000!important;
}



.text-primary {
  
    font-size: 14px;
}

.sidebar[data-active-color=danger] .nav li.active>a, .sidebar[data-active-color=danger] .nav li.active>a i {
    color: #6bd098 !important;
    opacity: 1;
}
.btn-info {
    background-color: #66615b;
    color: #fff;
    border-radius: 3px;
}


/* @media only screen and (min-width: 900px) and (max-width: 1280px ) {
    .multiselect {
      width: 82%;
    font-size: 9px;
    }
    
    .card label {
    font-size: .59em;
    margin-bottom: 0px;
    }
} */

.btn-group>.btn:first-child {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

div.rowform{
    margin-bottom: -15px;
}


/**/
#anchor-post {
    float:left;
    position:relative;
}

.play{
  position : absolute;
    display:block;
    top:48%; 
    width:40px;
    margin:0 auto; 
    left:0px;
    right:0px;
    z-index:100;
    font-size:48px;
    cursor:pointer;
} 
.play i{ color:#FFF !important;}

/* setup tooltips */
.tooltip {
  position: absolute;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 56px;
    left:-25px;
  white-space: nowrap;
}

/* the animations */

/* expand */
.tooltip.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltip.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltip.expand:hover:before,
.tooltip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}
